:root {
  font-family: 'Segoe UI', Inter, system-ui, sans-serif;
  color-scheme: dark;
  background-color: #121212; 
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Trava a rolagem global do body */
}

#root {
  width: 100%;
  height: 100%;
  display: flex; /* Garante que o App ocupe tudo */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

::-webkit-scrollbar-thumb:active {
  background-color: #007acc;
}

::-webkit-scrollbar-corner {
  background: transparent;
}